/java-basics/HelloWorld/target/
/java-basics/WindowMaster/target/
/java-basics/PracticeProgramming/target/
/java-basics/BasicProgrammingConceptsAssessment/target/
/classes-and-objects/ClassModeling/target/
